.pdf-cropper-img {
  width: calc(var(--pdf-page-width) * var(--pdf-page-scale) * 1px);
  height: calc(var(--pdf-page-height) * var(--pdf-page-scale) * 1px);
  max-width: none;
  max-height: none;
}

.box-cropper {
  position: absolute;
  outline: 2px solid var(--crop-selection-guide-color);
  outline-offset: -1px;
  background-color: color-mix(in srgb, var(--crop-selection-guide-color) calc(var(--crop-selection-bg-opacity) * 1%), transparent);
  z-index: 15;
  transform: translate(
    calc(var(--l) * var(--pdf-page-scale) * 1px),
    calc(var(--t) * var(--pdf-page-scale) * 1px)
  );
  width: calc((var(--r) - var(--l)) * var(--pdf-page-scale) * 1px);
  height: calc((var(--b) - var(--t)) * var(--pdf-page-scale) * 1px);
}

.line-cropper {
  position: absolute;
  outline: 1px solid var(--crop-selection-guide-color);
  z-index: 15;
}

.line-cropper.selected {
  outline: 1px solid var(--crop-selected-region-color);
}

.line-cropper.b.skip-line {
  outline: 1px solid var(--crop-selection-skip-color) !important;
}

.line-cropper.l, .line-cropper.r {
  top: 0px;
  width: 0px;
  height: calc(var(--pdf-page-height) * var(--pdf-page-scale) * 1px);
}

.line-cropper.t, .line-cropper.b {
  left: 0px;
  height: 0px;
  width: calc(var(--pdf-page-width) * var(--pdf-page-scale) * 1px);
}

.line-cropper.l {
  left: calc(var(--l) * var(--pdf-page-scale) * 1px);
}

.line-cropper.r {
  left: calc(var(--r) * var(--pdf-page-scale) * 1px);
}

.line-cropper.t {
  top: calc(var(--t) * var(--pdf-page-scale) * 1px);
}

.line-cropper.b {
  top: calc(var(--b) * var(--pdf-page-scale) * 1px);
}

.resizer {
  height: 10px;
  width: 10px;
  position: absolute;
  background: var(--crop-selection-guide-color);
  border: 1px solid white;
}
.resizer.top-left {
  top: -5px;
  left: -5px;
  cursor: nwse-resize;
}

.resizer.top-right {
  top: -5px;
  right: -5px;
  cursor: nesw-resize;
}

.resizer.bottom-left {
  bottom: -5px;
  left: -5px;
  cursor: nesw-resize;
}

.resizer.bottom-right {
  bottom: -5px;
  right: -5px;
  cursor: nwse-resize;
}

.resizer.left {
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  cursor: ew-resize;
}

.resizer.right {
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  cursor: ew-resize;
}

.resizer.top {
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  cursor: ns-resize;
}

.resizer.bottom {
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  cursor: ns-resize;
}

.cropped-overlay {
  position: absolute;
  z-index: 10;
  cursor: move;
  display: inline-flex;
  transform: translate(
    calc(var(--l) * var(--pdf-page-scale) * 1px),
    calc(var(--t) * var(--pdf-page-scale) * 1px)
  );
  width: calc((var(--r) - var(--l)) * var(--pdf-page-scale) * 1px);
  height: calc((var(--b) - var(--t)) * var(--pdf-page-scale) * 1px);
  outline: 2px solid var(--crop-selected-region-color);
  outline-offset: -1px;
  background-color: color-mix(in srgb, var(--crop-selected-region-color) calc(var(--crop-selected-region-bg-opacity) * 1%), transparent);
}

.blur-cropped .cropped-overlay {
  backdrop-filter: blur(calc(var(--pdf-cropped-blur-intensity) * 1px));
}

.overlay-label {
  display: flex;
  color: black;
  font-weight: bold;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  pointer-events: none;
  margin: auto;
  font-size: min(
    clamp(6px, calc((var(--r) - var(--l)) * var(--pdf-page-scale) * 0.1px), 18px),
    calc((var(--b) - var(--t)) * var(--pdf-page-scale) * 0.5px)
  );
}

.cropped-overlay.active {
  z-index: 30;
  outline: 2px solid var(--crop-selection-guide-color);
  outline-offset: -1px;
  background-color: color-mix(in srgb, var(--crop-selection-guide-color) calc(var(--crop-selection-bg-opacity) * 1%), transparent);
}
